:root{
--backgroundImageWave:url(./wave.svg);
--backgroundImageDam:url(./dambg.svg);
--backgroundImageAur:url(./aurora-1197753_1920.jpg);
--backgroundImageSno:url(./winter-landscape-2571788_1920.jpg);
--backgroundImageFlo:url(./woman-1509956_1920.jpg);
--titleColorDef:rgb(58, 55, 55);
--titleColorDam:rgb(255, 234, 6);
--titleColorAur:rgb(161, 255, 213);
--titleColorSno:rgb(18, 161, 227);
--titleColorFlo:rgb(255, 85, 136);

--contentBackgroundColor:rgba(224, 224, 224, 0.01);
--contentBoxShadow:5px 10px 15px rgba(170, 170, 170, 0.25);
--fontFamily:"Playfair Display SC";
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    min-height: 100vh;

    & .web-container {
        @extend body;
        position: relative;
        flex-direction: column;
       background-image: var(--backgroundImageWave);
        background-size:cover;
       
        &.dam{
            background-image: var(--backgroundImageDam);
        }
        &.aurora{
            background-image: var(--backgroundImageAur);
        }&.snowman{
            background-image: var(--backgroundImageSno);
        }&.flower-ring{
            background-image: var(--backgroundImageFlo);
        }
        }
        
      
      
        

        & .web-mylist {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #web-title {
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 600;
            color: var(--titleColorDef);
            background: rgba(224, 224, 224, 0.01);
            border-radius: 100vmax;
            padding: 20px;
            box-shadow: var(--contentBoxShadow);
            
            transition: 1s;
            filter: blur(2px);
            &:hover {
                color: var(--titleColorDef);
                scale: 105%;
                filter: blur(0px);
            }
            &.dam{
                color: var(--titleColorDam);
            }
            &.aurora{
                color: var(--titleColorAur);
            }
            &.snowman{
                color: var(--titleColorSno);
            }
            &.flower-ring{
                color: var(--titleColorFlo);
            }
        }

            

        .web-mypic {
           margin: 5% 0%;
        }

        svg {
            cursor: pointer;
            transition: 1s;

            &:hover {
                filter: blur(3px);
            }
        }

        .web-paragraph {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55ch;
            border-radius: 10%;
            background: rgba(170, 170, 170, 0.066);
            box-shadow: 1px 3px 15px rgba(170, 170, 170, 0.178);
            margin: 30px;
            padding: 10px;

            p {

                position: absolute;
                cursor: pointer;
                border-block-start: 10px solid;
                border-inline-start: 9px solid;
                border-image-source: linear-gradient(210deg, rgb(122, 251, 255), rgb(173, 255, 255), rgb(219, 255, 254));
                color: rgb(182, 182, 182);
                border-image-slice: 1;
                font-size: 18px;
               
            }
        }
    }
   
       
    
    

 
   

 

  
